.button{
    margin-top: 1em;
}

/* Learn Page CSS */
/* ########################## */
.learn_page_semi-circle{
    position: relative;
    transform: translate(100%, -20%);
    /* transform: translate(0, 0);  */
    width: 230px;
    height: 230px;
    /* border-radius: 50%; */
    border-radius: 150px 150px 150px 150px; 
    background-color: #D8D5F5;
    /* transform: rotate(-135deg);  */
}

#bubble_prog{
    margin-top: 3em;
}
.learn_page_semi-circle h3 {
    padding-top: 50px;
}