/* style={{width: "250px", height: "250px"}}
style={{width: "150px", height: "150px", objectFit:"contain", margin:"8px"}} */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');

.btn-bubble {
    width: 250px;
    height: 250px;
    background-color: #6E75A8;
    color: #F9AB55;
    font-family: 'Nunito Sans', sans-serif;
}


.btn-bubble:hover {
    transform: scale(1.1);
    background-color: #2F1847;
}

.img-inner-bubble {
    width: 150px;
    height: 150px;
    object-fit:contain;
    margin:"8px";
    
}