/* style={{width: "250px", height: "250px"}}
style={{width: "150px", height: "150px", objectFit:"contain", margin:"8px"}} */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap");

.btn-bubble {
  width: 250px;
  height: 250px;
  background-color: #6e75a8;
  color: #f9ab55;
  font-family: "Nunito Sans", sans-serif;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn-bubble:hover {
  transform: scale(1.1);
  background-color: #2f1847;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.6);
}

.img-inner-bubble {
  width: 140px;
  height: 140px;
  object-fit: contain;
  margin: 8px 8px 12px 8px;
}

.label {
  width: 210px;
  text-align: center;
  align-items: center;
  font-size: 22px;
  margin: 0;
  padding: 0 0 0 15px;
}
