@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');

/* .influencer-card {
  margin: 5px;
  border-radius: 15px;
}
/* .card, */
/* .photo {
  border-radius: 15px;
}
*/

.card-title {
  font-weight: bold;
}

.card-subtitle {
  margin-bottom: 10px;
}

.r1{
  text-align: left;
}

.c1{
  margin-right: 17%;
}

.r2{
  text-decoration: underline;
  margin-bottom: 10px;
}

.r3{
  margin-right: 17%;
}


