.my-modal {
  display: flex;
  width: 600px; /* Occupy the 90% of the screen width */
  max-width: 600px;
  min-width: none;
  text-align: left;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(605px, 1fr));
  align-items: stretch;
  object-fit: cover;
  padding: 1em;
  gap: 1em;
  overflow: auto;
}

.quizBtn {
  color: white !important;
  background-color: #6e75a8 !important;
  outline: none !important;
  box-shadow: none !important;
}
.quizBtn:hover,
.quizBtn:focus .quizBtn:active,
.quizBtn:focus-visible {
  background-color: #2d2733 !important;
  color: #f9ab55 !important;
  outline: none !important;
  box-shadow: none !important;
}
