.my-modal {
    display: flex;
    width: 600px;    /* Occupy the 90% of the screen width */
    max-width: 600px;
    min-width: none;
} 
.my-modal {
    display: flex;
    width: 600px;    /* Occupy the 90% of the screen width */
    max-width: 600px;
    min-width: none;
} 

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(605px, 1fr));
    align-items: stretch;
    object-fit: cover;
    padding: 1em;
    gap: 1em;
    overflow: auto;
}
