@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');

.color-nav{
    background-color: #2F1847;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}


.color-nav .navbar-brand,
.color-nav .nav,
.color-nav .navbar-nav .nav-link,
.color-nav .nlink,
.color-nav .navbar-text {
    color: #F9AB55;
    margin-right: 3rem;
    font-size: 1.1rem;
    font-family: 'Nunito Sans', sans-serif;
}


.color-nav .navbar-brand:hover,
.color-nav .nav:hover,
.color-nav .nlink:hover,
.color-nav .navbar-nav .nav-link:hover{
    color: #F7F5FB !important;
}

.color-nav .navbar-toggler  {
    border-color: #F9AB55;
}

.color-nav .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(249,171,85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.color-nav .navbar-toggler:hover  {
    background-color: #F7F5FB;
}