.m-info {
  /* background-color: #6E75A8; */
  color: #f9ab55;
  font-family: "Nunito Sans", sans-serif;
  text-align: left;
  padding: 5px;
  display: flex;
  width: 600px;
  max-width: 600px;
  min-width: none;
  height: 85%;
  min-height: none;
  max-height: max-content;
}
.md-body {
  text-align: left;
}
.m-info .modal-content {
  background-color: #6e75a8;
  color: #f9ab55;
  font-family: "Nunito Sans", sans-serif;
  padding: 10px;
  text-align: left;
}

.m-info a {
  color: #f9ab55;
}

.m-info span {
  color: #f7f5fb;
}

.m-info h4 {
  color: #f58a07;
}

.player-wrapper {
  padding-top: 60%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
