.influencerActivityTitle {
  color: #f9ab55;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  height: 20%;
  padding: 5px;
  margin: 10px;
}

.filterRow {
  font-family: "Nunito Sans", sans-serif;
  font-size: 12pt;
  padding: 5px;
  margin: 10px;
  margin-bottom: 50px;
  height: 30%;
}

.filterHeading {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18pt;
  color: black;
}

.card {
  margin-right: 20px;
  width: min-content;
}

.card-title {
  text-align: center;
  font-size: 13pt;
}

.card-body-text {
  text-align: left;
  font-size: 10pt;
}

.card-body-text {
  font-size: 9pt;
}
.influencerMHeader {
  text-align: center;
}
