/* Learn Page CSS */
/* ########################## */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');

body{
    font-family: 'Nunito Sans', sans-serif;
}

.btn-bubble {
    width: 250px;
    height: 250px;
    background-color: #6E75A8;
    color: #F9AB55;
    font-family: 'Nunito Sans', sans-serif;
    /* margin-left: 15em; */
    
}


.btn-bubble:hover {
    transform: scale(1);
    background-color: #6E75A8;
}

#bubble_prog{
    margin-top: .8em;
    font-size: medium;
    margin-left: -.5em;
}
.bubble_pts{
    margin-top: -2em;
    font-size: medium;
    margin-left: -3em;
}