/* Learn Page CSS */
/* ########################## */

body {
  font-family: "Nunito Sans", sans-serif;
}

.btn-bubble-points {
  width: 250px;
  height: 250px;
  background-color: #6e75a8;
  color: #f9ab55;
  font-family: "Nunito Sans", sans-serif;
  /* margin-left: 15em; */
}

.btn-bubble-points:hover {
  transform: scale(1);
  background-color: #6e75a8;
}

#bubble_prog {
  margin-top: 0.8em;
  font-size: medium;
  margin-left: -0.5em;
}
.bubble_pts {
  margin-top: -2em;
  font-size: medium;
  margin-left: -3em;
}

@media only screen and (min-width: 1111px) {
  .progressBar{
    display: none;
  }

}

@media only screen and (max-width: 1111px) {
  .progressBar{
    display: block;
  }
  .ProgressCircle{
    display: none;
  }
  .filterStyle{
    padding-top: 100px;
  }
  .title{
    margin-right: 26%
  }
  .headerStyle{
    margin-right: 100px;
  }
}

@media only screen and (max-width: 630px){
  .my-modal{
    width: 500px;
  }
  .headerStyle{
    margin-right: 100px;
  }
}

@media only screen and (max-width: 534px){
  .my-modal{
    width: 450px;
  }
  .headerStyle{
    margin-right: 100px;
  }
}