/* Learn Page CSS */
/* ########################## */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');

body{
    font-family: 'Nunito Sans', sans-serif;
}
.learn_page_semi-circle{
    position: relative;
    transform: translate(100%, -20%);
    /* transform: translate(0, 0);  */
    width: 230px;
    height: 230px;
    /* border-radius: 50%; */
    border-radius: 150px 150px 150px 150px; 
    background-color: #D8D5F5;
    /* transform: rotate(-135deg);  */
}

.bubble_prog{
    margin-top: .8em;
    font-size: medium;
    margin-left: -.5em;
}
.bubble_pts{
    margin-top: -2em;
    font-size: medium;
    margin-left: -3em;
}
/* .learn_page_semi-circle h3 {
    padding-top: 50px;
} */