.coin-info {
  color: #f9ab55;
  font-family: "Nunito Sans", sans-serif;
  width: 60%;
  text-align: left;
  padding: 5px;
}

.card-info .modal-content {
  background-color: #6e75a8;
  color: #f9ab55;
  font-family: "Nunito Sans", sans-serif;
  padding: 10px;
  text-align: left;
}

.card-info a {
  color: #f9ab55;
}

.card-info span {
  color: #f7f5fb;
}

.card-info h4 {
  color: #f58a07;
}

.img-graph {
  height: auto;
  width: auto;
  max-height: 440px;
  max-width: 440px;
}
